<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>Hello World</servlet-name>
		<servlet-class>PrimaServlet5ai</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hello World</servlet-name>
		<url-pattern>/prima-servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Somma</servlet-name>
		<servlet-class>SommaNumeri</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Somma</servlet-name>
		<url-pattern>/somma-numeri</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Registrazione</servlet-name>
		<servlet-class>Registrazione</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registrazione</servlet-name>
		<url-pattern>/nuovo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Elenco</servlet-name>
		<servlet-class>Elenco</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Elenco</servlet-name>
		<url-pattern>/elenco</url-pattern>
	</servlet-mapping>
	<servlet>
        <servlet-name>Lista nazioni</servlet-name>
        <servlet-class>ListaNazioni</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lista nazioni</servlet-name>
        <url-pattern>/nazioni</url-pattern>
    </servlet-mapping>
</web-app>