<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>Hello World</servlet-name>
		<servlet-class>PrimaServlet5ai</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hello World</servlet-name>
		<url-pattern>/exercises/prima-servlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Somma</servlet-name>
		<servlet-class>SommaNumeri</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Somma</servlet-name>
		<url-pattern>/exercises/somma-numeri</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Registrazione</servlet-name>
		<servlet-class>Registrazione</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registrazione</servlet-name>
		<url-pattern>/exercises/registro-voti/nuovo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Elenco</servlet-name>
		<servlet-class>Elenco</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Elenco</servlet-name>
		<url-pattern>/exercises/registro-voti/elenco</url-pattern>
	</servlet-mapping>

	<servlet>
        <servlet-name>Lista nazioni</servlet-name>
        <servlet-class>ListaNazioni</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lista nazioni</servlet-name>
        <url-pattern>/exercises/nazioni/mostra</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>AnimeUp</servlet-name>
        <servlet-class>AnimeUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnimeUp</servlet-name>
        <url-pattern>/exercises/animeup/home</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>AnimeUp</servlet-name>
        <servlet-class>AnimeUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnimeUp</servlet-name>
        <url-pattern>/exercises/animeup/search</url-pattern>
    </servlet-mapping>
</web-app>